<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
    crossorigin="anonymous"></script>
  <link rel="stylesheet" type="text/css" href="css/main.css">

  <title>Feira Livre Cidade 2000</title>
</head>

<body>
  <!--Menu-->
  <nav class="navbar navbar-expand-lg navbar-dark bg-danger">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Cidade 2000 Feira Livre</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"></a>
          </li>
        </ul>

      </div>
    </div>
  </nav>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <h2></h2>
      </div>
    </div>
  </div>

  <!-- Lista de produtos-->
  <div class="container mt-5">
    <h1 class="text-center">Localização</h1>
    <div class="row col-md-12 mx-auto">
      <div id="image_about" class="col-md-6">
        <h2></h2>
      </div>
      <div class="col-md-8">
        <p class="text-sm-end">Av. Central, 360-183 - Cidade 2000, Fortaleza - CE, 60190-230</p>
        <p class="text-sm-end">Funciona as Sexta-feira</p>
        <p class="text-sm-end">Turno da manhã</p>
        <p class="text-sm-end">Permanentemente Fechado</p>
      </div>
    </div>
    <hr />
    <hr />
    <!--Produtos-->
    <h1 class="text-center">Produtos</h1>
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-5 mx-auto text-center">
      <div class="col">
        <div class="card">
          <div id="roupa" class="card-header">
            <h2></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Roupas</h5>
            <p class="card-text">Para homem mulheres e crianças</p>
            <a href="#" class="btn btn-danger">Apareça para Conprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div id="bijuterias" class="card-header">
            <h2></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Acessórios</h5>
            <p class="card-text">Bijuterias ficar mais bonita</p>
            <a href="#" class="btn btn-danger">Apareça para Conprar</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div id="legumes" class="card-header">
            <h2></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Frutas e Verduras</h5>
            <p class="card-text">Para uma alimentação saudável</p>
            <a href="#" class="btn btn-danger">Apareça para Conprar</a>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <hr />
    <!--Feirantes-->
    <h1 class="text-center">Feirantes</h1>
    <div class="row row-cols-2 row-cols-lg-3 g-2 g-lg-5 mx-auto text-center">
      <div class="col">
        <div class="card">
          <div id="vendedora_roupa" class="card-header">
            <h2></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Dona Emigarda</h5>
            <p class="card-text">Vendedora de roupas femininas</p>

          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div id="vendedora_alimentos" class="card-header">
            <h2></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Dona Ana</h5>
            <p class="card-text">Vendedora de alimentos</p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div id="vendedor_roupa" class="card-header">
            <h2></h2>
          </div>
          <div class="card-body">
            <h5 class="card-title">Irineu</h5>
            <p class="card-text">Vendedor de roupas</p>
          </div>
        </div>
      </div>
    </div>
    <hr />
    <hr />
    <!--Depoimentos-->
    <div>
      <h1 class="text-center">Depoimentos</h1>
      <div class="card border-light mt-2 mb-2">
        <div class="card-header">
          <h4 class="text-sm-end">"É um ambiente maravilhoso, com variedade de produtos para comprar, pena que acabou."
          </h4>
        </div>
        <div class="card-body text-sm-end">
          <p>Seu João</p>
        </div>
      </div>
      <div class="card border-light mt-2 mb-2">
        <div class="card-header">
          <h4 class="text-sm-end">"Minha filha sempre ia comprar a roupas dela lá, esperava as sextas feiras por que lá é tudo mais barato. A gente termina o mês com mais dinheiro no bolso. Agora vamos gastar mais de novo hahaha!"
          </h4>
        </div>
        <div class="card-body text-sm-end">
          <p>Dona Maria</p>
        </div>
      </div>
      <div class="card border-light mt-2 mb-2">
        <div class="card-header">
          <h4 class="text-sm-end">"Só vinha pra cá por causa da minha mulher, quer um monte de coisas e o dinheiro tá curto. Ainda bem que acabou, a gasolina tava ficando mais cara pra vir. Eu queria ficar deitado na rede"
          </h4>
        </div>
        <div class="card-body text-sm-end">
          <p>Seu José</p>
        </div>
      </div>
    </div>
  </div>

  <footer class="rodape">
    <div class="wrapper">
      <section id="info-rodape">
        <p>Copyright 2021. All rights reserved.</p>
      </section>
      <section id="links-rodape">
        <ul>
          <li>
            <h5>Links</h5>
          </li>
          <li><a href="https://www.uni7.edu.br/">Uni7</a></li>
          <li><a href="mailto:juliosantiago025@gmail.com">Júlio Santiago</a></li>
        </ul>
      </section>
    </div>
  </footer>



</body>

</html>